<launch>
  <arg name="model" default="$(find wpb_home_bringup)/urdf/wpb_home_mani.urdf"/>
  <arg name="gui" default="false" />
  <arg name="rvizconfig" default="$(find wpb_home_bringup)/rviz/urdf.rviz" />

  <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />
  <param name="use_gui" value="$(arg gui)"/>

  
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

  <!-- wpb_home core-->
  <node pkg="wpb_home_bringup" type="wpb_home_core" name="wpb_home_core" output="screen">
    <param name="serial_port" type="string" value="/dev/ftdi"/> 
    <rosparam file="$(find wpb_home_bringup)/config/wpb_home.yaml" command="load" />
  
  <!-- Run grab server -->
  <include file="$(find wpb_home_behaviors)/launch/grab_app.launch" />

    <!-- Run grab monitor -->
  <include file="$(find wpb_home_behaviors)/launch/grab_monitor.launch" />




  <!-- 启动启智机器人底盘控制 -->
  <include file="$(find bringup_qizhi)/launch/bringup.launch">
    <arg name="use_base_control" value="true" />
  </include>
  <!-- 启动用于机器人机械臂控制和YOLO推理的节点 -->
  <node name="general_service_grab" pkg="grab_general" type="grab.py" output="screen">
    <!-- 重映射主题以确保正确的通信 -->
    <remap from="/cmd_vel" to="cmd_vel" />
    <remap from="/wpb_home/mani_ctrl" to="wpb_home/mani_ctrl" />
    <remap from="/general_service_need" to="general_service_need" />
    <remap from="/odom" to="/odom" />
    <remap from="/general_service_angle" to="/general_service_angle" />
    <remap from="/start_grab" to="/start_grab" />
    <remap from="/grab_room" to="/grab_room" />
    <remap from="/genenal_service_put_down" to="/genenal_service_put_down" />
    <remap from="/genenal_service_put_down_result" to="/genenal_service_put_down_result" />
    <remap from="/general_service_xfsaywords" to="/general_service_xfsaywords" />
  </node>

  <!-- 添加tf2监听器，用于坐标变换 -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="tf_static_pub" args="0 0 0 0 0 0 map odom 100" />

  <!-- 摄像头驱动程序，需根据你的Realsense摄像头配置 -->
  <node name="realsense_camera" pkg="realsense2_camera" type="realsense2_camera_node" output="screen">
    <param name="enable_color" value="true"/>
    <param name="enable_depth" value="true"/>
    <param name="color_width" value="640"/>
    <param name="color_height" value="480"/>
    <param name="depth_width" value="640"/>
    <param name="depth_height" value="480"/>
  </node>

</launch>


