<launch>
<!--- this node will listen to your speak and translate it to text-->
    <node pkg="voice" name="asr_offline_record" type="asr_offline_record" output="screen"/>
<!--- this node will receive text and say it-->
    <node pkg="voice" name="xf_tts" type="xf_tts" output="screen"/>
<!--- this node will went into sleep state and wake up when you say luoboluobo-->
    <node pkg="voice" name="voice_wakeup" type="voice_wakeup" output="screen"/>
<!--- this node will process text and send it-->
    <node pkg="voice" name="textprocess" type="textprocess" output="screen"/>
</launch>